@model RentApp.Models.Rent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Information</h1>
<br />
<div>
    <h4>Uppgifter för hyrt föremål</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentItems.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentItems.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RentId" class="btn btn-info">Editera</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Tillbaka <i class="fas fa-backward"></i></a>
</div>
